<section class="about">
  <div class="container">
    <h1 class="about-title">Про мене</h1>
    <p class="about-text">
      Прнi! Мене звати Максим, а займаось веб-розробкою, стввроюий ефестивнй та
      сукесй саити. Люблю експерниентувити з новими тенноноfами та постйно
      вsитись новому,
    </p>
    <img width="200px" height="200px" src="/src/img/maksym.webp" alt="" />
    <label name="" class="input-label"
      >Завантажити реэоме
      <input type="file" name="" id="" />
    </label>
  </div>
</section>
