<section id="about-me" class="about">
  <div class="container">
    <div class="about-section">
      <img class="about-img" src="/src/img/maksym.webp" alt="" />
      <div class="about-wrap">
        <h1 class="about-title">Про мене</h1>
        <p class="about-text">
          Мене звати Максим. Я — веб-розробник, який фокусується на створенні
          ефективних та сучасних інтерфейсів. Люблю експериментувати з новими
          технологіями та постійно вдосконалюю свої навички, щоб кожен мій
          проект був кращим за попередній.
        </p>
        <a
          href="/src/img/CV_Maksym_Yaropovets.pdf"
          target="_blank"
          class="about-link"
        >
          <svg class="about-icon">
            <use href="/src/img/icon.svg#icon-download"></use>
          </svg>
          Переглянути Резюме</a
        >
      </div>
    </div>
  </div>
</section>
