<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-link-logo" href="#">
        <img
          class="header-img"
          width="30px"
          height="30px"
          src="/src/img/maksym.webp"
          alt="avatar"
        />
      </a>
      <ul class="header-menu">
        <li class="header-item">
          <a href="#about-me" class="header-link">Про мене</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link">Навинки</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link">Проекти</a>
        </li>
        <li class="header-item">
          <a href="" class="header-link">Коитакти</a>
        </li>
      </ul>
      <button class="header-button" type="button">
        <svg class="header-burger-icon">
          <use href="/src/img/icon.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
