<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-link-logo" href="#" class="logo">
        <img
          class="header-img"
          width="20px"
          height="20px"
          src="/src/img/maksym.webp"
          alt="avatar"
        />
      </a>
      <button class="header-button" type="button">
        <svg class="header-burger-icon">
          <use href="/src/img/icon.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
