<div class="backdrop">
  <button type="button" class="backdrop-close-btn">
    <svg class="backdrop-icon">
      <use href="/src/img/icon.svg#icon-cross"></use>
    </svg>
  </button>
  <ul class="backdrop-menu">
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Про мене</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Навинки</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Проекти</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Контакти</a>
    </li>
  </ul>

  <ul class="backdrop-soc-menu">
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-icon">
          <use href="/src/img/icon.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" id="Telegram" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-icon">
          <use href="/src/img/icon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-icon">
          <use href="/src/img/icon.svg#icon-github"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" id="Messenger" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-icon">
          <use href="/src/img/icon.svg#icon-google"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

<div class="is-hidden">
  <a href="" class="backdrop-telegram-link">
    <svg class="backdrop-telegram-icon">
      <use href="/src/img/icon.svg#icon-phone">yjvth</use>
    </svg>
  </a>
  <button type="button" class="backdrop-telegram-btn">Повернутись назад</button>
</div>
<div class="is-hidden">
  <form action="" class="mob-messenger">
    <input type="text" class="mob-input" />
    <input type="text" class="mob-input" />
    <textarea name="" id="" class="mob-text"></textarea>
  </form>
</div>
