<div class="backdrop">
  <button type="button" class="backdrop-close-btn">
    <svg class="backdrop-icon">
      <use href="/src/img/icon.svg#icon-cross"></use>
    </svg>
  </button>
  <ul class="backdrop-menu">
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Про мене</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Навинки</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Проекти</a>
    </li>
    <li class="backdrop-item">
      <a href="" class="backdrop-menu-link">Контакти</a>
    </li>
  </ul>

  <ul class="backdrop-soc-menu">
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-menu-icon">
          <use href="/src/img/icon.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-menu-icon">
          <use href="/src/img/icon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-menu-icon">
          <use href="/src/img/icon.svg#icon-git"></use>
        </svg>
      </a>
    </li>
    <li class="backdrop-soc-item">
      <a href="" class="backdrop-soc-menu-link">
        <svg class="backdrop-soc-menu-icon">
          <use href="/src/img/icon.svg#icon-mes"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
