<section class="projects">
  <div class="container">
    <h1 class="projects-title">Мoi проекти</h1>
    <p class="projects-text">Ознайоитесь э моіии найкрнщиии роботами:</p>
    <ul class="project-list">
      <li class="projects-item">
        <button class="projects-btn"></button>
        <button class="projects-btn">Live Site</button>
      </li>
      <li class="projects-item">
        <button class="projects-btn"></button>
        <button class="projects-btn">Live Site</button>
      </li>
      <li class="projects-item">
        <button class="projects-btn"></button>
        <button class="projects-btn">Live Site</button>
      </li>
    </ul>
  </div>
</section>
