<section class="projects">
  <div class="container">
    <h1 class="projects-title">Мoi проекти</h1>
    <p class="projects-text">Ознайоитесь э моіии найкрнщиии роботами:</p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3 class="swiper-title">ToDo app з фільтрами</h3>
          <img src="/src/img/181446.png" alt="" class="swiper-img" />
          <ul class="swiper-list">
            <li class="swiper-item">
              <p class="swiper-text">React</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">LocalStorage</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">Tailiwind</p>
            </li>
          </ul>
          <a href="" class="swiper-list-link"
            ><svg class="swiper-list-icon">
              <use href="/src/img/icon.svg#icon-play3"></use>
            </svg>
            Live Site</a
          >
        </div>
        <div class="swiper-slide">
          <h3 class="swiper-title">ToDo app з фільтрами</h3>
          <img src="/src/img/180938.png" alt="" class="swiper-img" />
          <ul class="swiper-list">
            <li class="swiper-item">
              <p class="swiper-text">LocalStorage</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">Tailiwind</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">React</p>
            </li>
          </ul>
          <a href="" class="swiper-list-link"
            ><svg class="swiper-list-icon">
              <use href="/src/img/icon.svg#icon-play3"></use>
            </svg>
            Live Site</a
          >
        </div>
        <div class="swiper-slide">
          <h3 class="swiper-title">ToDo app з фільтрами</h3>
          <img src="/src/img/181113.png" alt="" class="swiper-img" />
          <ul class="swiper-list">
            <li class="swiper-item">
              <p class="swiper-text">Tailiwind</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">React</p>
            </li>
            <li class="swiper-item">
              <p class="swiper-text">LocalStorage</p>
            </li>
          </ul>
          <a href="" class="swiper-list-link">
            <svg class="swiper-list-icon">
              <use href="/src/img/icon.svg#icon-play3"></use>
            </svg>
            Live Site</a
          >
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
