.about {
  margin-bottom: 90px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.about-img {
  border-radius: 20%;
  width: 300px;
  height: 400px;
}
.about-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about-title {
  color: rgba(168, 168, 176, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}
.about-text {
  max-width: 300px;
  height: auto;
  color: rgba(94, 92, 113, 1);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.about-link {
  border: 2px solid rgba(36, 37, 57, 1);
  border-radius: 15px;
  /* background: rgba(25, 26, 46, 1); */
  font-size: 12px;
  line-height: 13px;
  text-align: left;
  padding: 10px;
  color: rgba(136, 175, 195, 1);
  background-color: rgba(94, 92, 113, 1);
  display: flex;
  align-items: center;
  gap: 4px;
}
.about-icon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: rgba(136, 175, 195, 1);
}
