.container {
  width: 100%;
  max-width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-button {
    display: none;
  }
  .header-menu {
    display: flex;
    gap: 20px;
  }
  .hero-images {
    display: block;
  }
  .hero-section {
    flex-direction: row;
  }
  .about-section {
    justify-content: space-between;
  }
  .about-section {
    margin-right: 90px;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
