.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-bottom: 20px;
  padding-top: 24px;
}

.header-img {
  border-radius: 50%;
}

.header-burger-icon {
  fill: transparent;
  stroke: aliceblue;
  width: 26px;
  height: 24px;
}
