.hero {
  margin-bottom: 90px;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 265px;
  height: 189px;
  color: rgba(198, 197, 203, 1);
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
}
.hero-images {
  display: none;
  border-radius: 10%;
  width: 400px;
  height: 400px;
}
.hero-btn {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background-color: rgba(49, 106, 129, 1);
  padding: 16px;
  border-radius: 20px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    bax-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero-title span {
  color: rgba(136, 175, 195, 1);
}
.hero-btn:hover {
  background-color: #fff;
  color: rgba(49, 106, 129, 1);
  transform: scale(1.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.hero-btn:active {
}
