.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(14, 8, 18, 0.9);
  backdrop-filter: blur(10px);
  background-image: radial-gradient(
    circle at top left,
    rgba(65, 84, 160, 0.15) 0%,
    transparent 40%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-close-btn {
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 500ms ease-in-out;
}
.backdrop-icon {
  fill: rgba(152, 153, 171, 1);
  width: 26px;
  height: 24px;
}

.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

.backdrop-menu-link {
  color: rgba(152, 153, 171, 1);
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
}
.backdrop-soc-menu {
  display: flex;
  gap: 20px;
  margin-top: auto;
}
.backdrop-soc-icon {
  width: 26px;
  height: 24px;
  fill: rgba(152, 153, 171, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop-menu,
.backdrop-soc-menu {
  transform: translateY(20px); /* Трохи опускаємо вниз */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open .backdrop-menu,
.is-open .backdrop-soc-menu {
  transform: translateY(0); /* Повертаємо на місце */
}
.is-open .backdrop-close-btn {
  transform: rotate(0);
}
.backdrop-item:nth-child(1) {
  transition-delay: 100ms;
}
.backdrop-item:nth-child(2) {
  transition-delay: 200ms;
}
.backdrop-item:nth-child(3) {
  transition-delay: 300ms;
}
.backdrop-item:nth-child(4) {
  transition-delay: 400ms;
}
.backdrop-soc-item:nth-child(1) {
  transition-delay: 100ms;
}
.backdrop-soc-item:nth-child(2) {
  transition-delay: 200ms;
}
.backdrop-soc-item:nth-child(3) {
  transition-delay: 300ms;
}
.backdrop-soc-item:nth-child(4) {
  transition-delay: 400ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-telegram-icon {
  width: 26px;
  height: 24px;
  fill: rgba(152, 153, 171, 1);
}
