.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eeda88;
  backdrop-filter: blur(10px);
  /* pointer-events: none;
  opacity: 0; */
}
.backdrop-icon {
  fill: black;

  width: 26px;
  height: 24px;
}
.backdrop-navigation {
}
.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.backdrop-item {
}
.backdrop-menu-link {
  color: rgba(152, 153, 171, 1);
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
}
.backdrop-soc-menu {
}
.backdrop-soc-item {
}
.backdrop-soc-menu-link {
}
.backdrop-soc-menu-icon {
}
