.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(14, 8, 18, 0.9);
  backdrop-filter: blur(10px);
  background-image: radial-gradient(
    circle at top left,
    rgba(65, 84, 160, 0.15) 0%,
    transparent 40%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.backdrop-icon {
  fill: rgba(152, 153, 171, 1);
  width: 26px;
  height: 24px;
}

.backdrop-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.backdrop-menu-link {
  color: rgba(152, 153, 171, 1);
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
}
.backdrop-soc-menu {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.backdrop-soc-menu-icon {
  width: 26px;
  height: 24px;
  fill: transparent;
  stroke: white;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
