.projects {
}
.projects-title {
  color: rgba(230, 238, 246, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-bottom: 10px;
}
.projects-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-title {
  color: rgba(230, 238, 246, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  margin-bottom: 10px;
}
.swiper-img {
  width: 298px;
  height: 160px;
  margin-bottom: 10px;
}
.swiper-list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.swiper-item {
}
.swiper-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.swiper-list-link {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(103, 232, 249, 1) 0%,
    rgba(59, 130, 246, 1) 100%
  );
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
.swiper-list-icon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: black;
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
