*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* === Forms === */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
:root {
  --bg-space: #0e0812;
  --accent-blue: #4154a0;
  --primary-blue: #1a4d99;

  --grid-color: rgba(65, 84, 160, 0.15);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-space);
  background-image:
    radial-gradient(
      circle at 20% 30%,
      rgba(26, 77, 153, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(65, 84, 160, 0.15) 0%,
      transparent 50%
    ),
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);

  background-size:
    100% 100%,
    100% 100%,
    40px 40px,
    40px 40px;
  background-attachment: fixed;
}
