@import url("./container.css");
@import url("./reset.css");
@import url("./headers.css");
@import url("./mobile-menu.css");
/* @import url("./hero.css");
@import url("./footer.css"); */
/* body {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
} */
:root {
  --bg-space: #0e0812;
  --accent-blue: #4154a0;
  --primary-blue: #1a4d99;

  --grid-color: rgba(65, 84, 160, 0.15);
}

body {
  margin: 0;
  min-height: 100vh;

  background-color: var(--bg-space);

  background-image:
    radial-gradient(
      circle at 20% 30%,
      rgba(26, 77, 153, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(65, 84, 160, 0.15) 0%,
      transparent 50%
    ),
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);

  background-size:
    100% 100%,
    100% 100%,
    40px 40px,
    40px 40px;
  background-attachment: fixed;
}
